/*
Name: Final Project
Course Code: SODV1201
Program: Software Development Diploma
Authors:
Colin From
Pedro Ferreira
Peter Kosa
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin-left: 20vw;
  /* for adjusting to the apparent size of the example */
  width: 60vw;
}

/* navigation bar, similar to Lyrics.html */
nav {
  background-color: #000066;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav {
  background-color: #000066;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}

.navigation {
  display: inline-table;
  list-style-type: none;
}

.navigation li {
  display: inline;
  font-size: 90%;
  float: left;
  margin-left: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
  text-align: center;
}

.myPic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.myPicName {
  text-align: center;
  display: none;
}

/* general css for the current body being displayed */
.currentBody {
  font-weight: 300;
  color: black;
  text-align: justify;
  padding-left: 10px;
}

/* ids for main page */

#mainNav1, #mainnav2, #LoginScreen, #profilePage {
  display: inherit;
  /* will always be the first page to show when opening the web link */
}

#loggedNav1, #loggedNav2, #loggedNav3, #SignUpScreen {
  display: none;
  /* other links and pages are hidden by nature */
}

.bottomBar {
  border-top: 3px solid darkblue;
  text-align: center;
  position: relative;
  padding: 10px;
  top: 10px;
}

/* general CSS */
h1 {
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: underline;
}
/* used for all links and pertinent hovering */
.sendButton:hover, a:hover {
  opacity: 0.7;
}

/*FOR USER WORKSPACES PAGE*/
/*For the table used to display workspaces to users*/
#workspaceDisplay {
  font-size: .85em;
  text-align: center;
  width: 60vw;
}

#workspaceDisplay th {
  padding-bottom: 2vh;
}

#workspaceDisplay td {
  padding: 1vh 1vw;
}

/*Keep more info hidden at first and do some styling*/
#moreInfo {
  background: white;
  display: none;
  position: fixed;
  top: 10vh;
  left: 20vw;
  width: 60vw;
  height: 80vh;
  text-align: center;
  overflow: auto;
  z-index: 1;
}

#moreInfo td {
  padding: 0 1vw;
  text-align: left;
}

/*To darken background when more info is shown*/
#pageMask {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}